#pierreTemplate {
    display: none;
}

#receptacleTemplate {
    display: none;
}
    
#table {
    position:relative;
    width: 100%;
    //height: 300px;
    background-color: rgba( 255, 255, 255, 1.0);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#balance {
    position:relative;
    display: inline-block;
    background-color: rgba( 240, 240, 240, 1.0);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#reussite {
    display: none;
    color: red;
}

#nombre_pesees {
    font-size: 300%;
}

.plateau {
    position:relative;
    display: inline-block;
    border-color: black;
    border-style: dashed;
    border-width: 4px;
    padding: 15px;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    top: 0px;
    transition-timing-function: ease-in;
    transition: top 1s;
}

.receptacle {
    display: inline-block;
    position:relative;
    border-color: grey;
    border-style: dashed;
    border-width: 1px;
    border-radius: 1em;
    margin-right: 20px;
}

.pierre {
    position: absolute;
    display: inline-block;
    z-index: 0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    #padding: 1em;
    border-radius: 1em;
    cursor: url(hand.png),move;
}

