body {
	background-color:#467AC7;	
}

#titre {
	margin-left:50vw;
	transform:translateX(-50%);
	background-color:#23AFBF;
	text-align:center;
	font-size:4em;
	border:1px black solid;
	box-shadow:3px 3px 3px;
}

#texte {
	margin-top:10vh;
	margin-left:50vw;
	transform:translateX(-50%);
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	background-color:#23AFBF;
	width:50vw;
	height:60vh;
	border:1px black solid;
	box-shadow:3px 3px 3px;
	padding-right:25px;
}

#bouton {
	margin-top:5vh;
	margin-left:60vw;
	background-color:#23AFBF;
	font-size:1.5em;
	padding:5px;
}

li {
	height:11vh;
}